body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
header{
     background-color:#0173B2;
     padding-bottom: 40px;
}
#menu{
    
    float: right;
    
}
ul{
    list-style-type: none;
    padding: 8px;
    font-size: 15px;
    align-self: start;
}
li{
 float: left;
 padding: 8px;
}
li a{
    color: white;
    text-decoration: none;
}
.selected{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #0173b2;
    background-color: white;
    border-radius: 40px;
    font-weight: bold;
}
.heading{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-top: 130px;
}
.p{
    text-align: center;
    font-size: 30px;
    padding-right: 10px;
    padding-left: 10px;
    word-wrap: break-word;
}
#service{
    border: 1px solid white;
    text-decoration: none;
    border-radius: 40px;
    color: white;
    font-size: 110%;
    padding: 10px;
    text-align: center;
    margin-left: 45%;
    padding-right: 30px;
    padding-left: 30px;
}
#b1{
    color: gray;
    padding-top: 50px;
    font-size: 1px;
}
#p1{
    font-size: 15px;
    font-weight: 1000;
}
#p2{
    color: gray;
    font-size: 30px;
}
#t1{
    color:#0173b2;
    word-wrap: break-word;
    width: 35%;
    font-size: 20px;
    text-align: justify;
    padding-right: 30px;
    float: left;
    margin-left: 13%;
}
#t3{
    color: gray;
    float: left;
    word-wrap: break-word;
    width: 35%;
    font-size: 20px;
    text-align: justify;
    padding-left: 10px;
}
#img{
    float: left;
    width: 100%;
    height: 300px;
    position: relative;
    color: greenyellow;
}
#text{
    position: absolute;
  bottom: 150px;
  left: 20px;
  background-color:transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}
#text2{
    font-weight: 900;
    font-size: 30px;
}
#b2{
    color: gray;
    padding-top: 50px;
    font-size: 1px;
    float: right; 
}
#p3{
    font-size: 15px;
    font-weight: 1000;
    float: right; 
    padding-right: 550px;
}
#p4{
    color: gray;
    font-size: 30px;
    float: right; 
    padding-right: 250px;
}
#box{
    float: left;
}