body{
    background-color: #ffaa87;
}
h1{
    color: aliceblue;
    text-align: center;
}
h2{
    color: powderblue;
}
h3{
    background-color: #11ff00
}
h4{
    background-color: purple;
}
h5{
    color: purple;
}
h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#p1{
    font-size: 150%;
    border: solid springgreen;
    padding:10px
}
table,th,td{
    border: 1px solid black;
    border-spacing: 5px;
    border-collapse: collapse;
    padding: 15px;
}
tr:nth-child(even){
    background-color: #eee
}
tr:nth-child(odd){
    background-color: #fff;
}
th{
    color: white;
    background-color:black
}
